{"openapi":"3.1.0","info":{"title":"Detent API","version":"1.0.0","description":"Self-healing CI/CD platform. Parse CI logs, match error patterns, and trigger AI fixes."},"servers":[{"url":"https://backend.detent.sh","description":"Production"},{"url":"http://localhost:8787","description":"Local development"}],"components":{"schemas":{"DiagnosticsResponse":{"oneOf":[{"$ref":"#/components/schemas/DiagnosticsResponseFull"},{"$ref":"#/components/schemas/DiagnosticsResponseLite"}],"discriminator":{"propertyName":"mode","mapping":{"full":"#/components/schemas/DiagnosticsResponseFull","lite":"#/components/schemas/DiagnosticsResponseLite"}}},"DiagnosticsResponseFull":{"type":"object","properties":{"mode":{"type":"string","enum":["full"],"description":"Response mode indicator (discriminator)"},"detected_tool":{"type":"string","nullable":true,"description":"Tool detected from output (null if unknown)","example":"typescript"},"diagnostics":{"type":"array","items":{"$ref":"#/components/schemas/Diagnostic"},"description":"Parsed diagnostics from the log"},"summary":{"$ref":"#/components/schemas/DiagnosticSummary"},"truncated":{"type":"boolean","description":"True if diagnostics were truncated (max 10,000)"}},"required":["mode","detected_tool","diagnostics","summary","truncated"]},"Diagnostic":{"type":"object","properties":{"message":{"type":"string","description":"Error or warning message","example":"Cannot find name 'foo'"},"file_path":{"type":"string","description":"File path where the issue occurred","example":"src/app.ts"},"line":{"type":"integer","minimum":1,"description":"Line number (1-indexed)","example":10},"column":{"type":"integer","minimum":1,"description":"Column number (1-indexed)","example":5},"severity":{"$ref":"#/components/schemas/Severity"},"rule_id":{"type":"string","description":"Tool-specific rule identifier","example":"TS2304"},"stack_trace":{"type":"string","description":"Stack trace if available (e.g., for test failures)"},"suggestions":{"type":"array","items":{"type":"string"},"description":"Suggested fixes from the tool"},"fixable":{"type":"boolean","description":"Whether the tool can auto-fix this issue"}},"required":["message","severity"]},"Severity":{"type":"string","enum":["error","warning"],"description":"Issue severity level"},"DiagnosticSummary":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of diagnostics","example":5},"errors":{"type":"integer","description":"Number of errors","example":3},"warnings":{"type":"integer","description":"Number of warnings","example":2}},"required":["total","errors","warnings"],"description":"Aggregated counts"},"DiagnosticsResponseLite":{"type":"object","properties":{"mode":{"type":"string","enum":["lite"],"description":"Response mode indicator (discriminator)"},"detected_tool":{"type":"string","nullable":true,"description":"Tool detected from output (null if unknown)","example":"typescript"},"diagnostics":{"type":"array","items":{"$ref":"#/components/schemas/DiagnosticLite"},"description":"Parsed diagnostics (minimal fields)"},"truncated":{"type":"boolean","description":"True if diagnostics were truncated (max 10,000)"}},"required":["mode","detected_tool","diagnostics","truncated"]},"DiagnosticLite":{"type":"object","properties":{"message":{"type":"string","description":"Error or warning message","example":"Cannot find name 'foo'"},"file_path":{"type":"string","description":"File path where the issue occurred","example":"src/app.ts"},"line":{"type":"integer","minimum":1,"description":"Line number (1-indexed)","example":10},"column":{"type":"integer","minimum":1,"description":"Column number (1-indexed)","example":5}},"required":["message"]},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"content must be a string"}},"required":["error"]},"RateLimitError":{"type":"object","properties":{"error":{"type":"string","description":"Rate limit error message","example":"Rate limit exceeded"},"retryAfter":{"type":"integer","description":"Unix timestamp when the rate limit resets","example":1706300000}},"required":["error","retryAfter"]},"DiagnosticsRequest":{"type":"object","properties":{"content":{"type":"string","minLength":1,"maxLength":10485760,"description":"Raw CI/build log content to parse","example":"src/app.ts:10:5 - error TS2304: Cannot find name 'foo'"},"tool":{"$ref":"#/components/schemas/DetectedTool"},"mode":{"$ref":"#/components/schemas/Mode"}},"required":["content"]},"DetectedTool":{"type":"string","enum":["eslint","vitest","typescript","cargo","golangci"],"description":"Hint for which tool produced the output. Auto-detected if omitted."},"Mode":{"type":"string","enum":["full","lite"],"default":"full","description":"Response detail level. 'full' includes severity, ruleId, suggestions. 'lite' is minimal."}},"parameters":{}},"paths":{"/v1/diagnostics":{"post":{"tags":["Diagnostics"],"summary":"Parse CI/build logs into structured diagnostics","description":"Extracts structured error and warning information from raw CI/build log output.\n\nSupports auto-detection of common tools (ESLint, TypeScript, Vitest, Cargo, golangci-lint) or accepts a hint via the `tool` parameter.\n\nReturns parsed diagnostics with file locations, severity, and tool-specific metadata.\n\n**Note:** Sensitive data (API keys, tokens, credentials) detected in the output is automatically redacted for security.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticsRequest"}}}},"responses":{"200":{"description":"Successfully parsed diagnostics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiagnosticsResponse"}}}},"400":{"description":"Invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded (30 requests per minute per IP)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitError"}}}}}}}}}