@import "tailwindcss";
@source "../../node_modules/@detent/ui/src";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-pixel-triangle: var(--font-geist-pixel-triangle);

  /* CI/CD State Colors */
  --color-success-fg: #1e915b;
  --color-success-bg: #d0f4e5;

  --color-failure-fg: #f53b3a;
  --color-failure-bg: #fee9cb;

  --color-waiting-fg: #ae860c;
  --color-waiting-bg: #fefbcb;
  --color-waiting-accent: #ffd658;

  --color-healing-fg: #911e85;
  --color-healing-bg: #f6dbff;

  --color-info-fg: #3672d9;
  --color-info-bg: #edf5ff;

  /* UI Colors */
  --color-subtle: #e8e8e8;
  --color-muted: #808080;
  --color-dim: #aaa;
  --color-surface: #fafafa;
}

@layer base {
  html,
  body {
    overscroll-behavior: none;
    letter-spacing: -0.03em;
  }

  .drag-handle {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 8px;
    height: 100%;
    cursor: grab;
    user-select: none;
    touch-action: none;
  }

  .drag-handle[data-active] {
    cursor: grabbing;
  }

  .resizable-grid[data-active-handle] {
    user-select: none;
  }

  .resizable-grid > main:nth-child(2) {
    border-style: solid;
    border-left-color: var(--color-subtle);
    border-right-color: var(--color-subtle);
  }

  .resizable-grid[data-left-open] > main:nth-child(2) {
    border-left-width: 1px;
  }

  .resizable-grid[data-right-open] > main:nth-child(2) {
    border-right-width: 1px;
  }

  .resizable-grid[data-active-handle="left"] > main:nth-child(2),
  .resizable-grid[data-hovered-handle="left"] > main:nth-child(2) {
    border-left-color: black;
  }

  .resizable-grid[data-active-handle="right"] > main:nth-child(2),
  .resizable-grid[data-hovered-handle="right"] > main:nth-child(2) {
    border-right-color: black;
  }
}

@utility bg-healing-light {
  background-color: color-mix(in srgb, var(--color-healing-bg) 40%, white);
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility font-geist {
  font-family: var(--font-geist-sans);
}

/* Shiki overrides */
.shiki {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

.shiki code {
  font-family: var(--font-pixel-square);
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0;
}

.code-preview-content .shiki code .line {
  display: block;
  padding: 0.75px 0;
}

@keyframes shimmer-sweep {
  0% {
    background-position: 120% center;
  }
  55% {
    background-position: -20% center;
  }
  100% {
    background-position: -20% center;
  }
}

@utility animate-shimmer-sweep {
  animation: shimmer-sweep 3.5s linear infinite;
}

@keyframes shimmer-sweep-fast {
  0% {
    background-position: 120% center;
  }
  100% {
    background-position: -20% center;
  }
}

@utility animate-shimmer-sweep-fast {
  animation: shimmer-sweep-fast 1.4s linear infinite;
}
